.git
.gitignore
.gcloudignore
.DS_Store

node_modules/
client/node_modules/
server/node_modules/
client/dist/
server/dist/
npm-debug.log

documentation/
research/
data/*.sqlite
data/*.sqlite-*
tmp-bootstrap.json
.release/
gha-creds-*.json
